*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 75vw;
    height: 65vh;
    margin: 5vh auto 0;
    padding: 5vh;
    border-radius: 2vh;
    background-color: rgb(39, 39, 39);
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 2em;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container input {
    display: none;
}

.slides {
    display: flex;
}

.slide {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.slide img {
    object-fit: cover;
}

.caption {
    display: flex;
    overflow: hidden;
    width: 70%;

    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
}

.text {
    flex-shrink: 0;
}

.slider-navigation {
    display: flex;

}

.nav-item {
    padding: 0.5rem;
}

.nav-item>span {
    display: inline-block;
    border: 0.1rem solid #b342ff;
    background-color: #b342ff;

    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.nav-item>span:hover {
    background-color: white;
    border-color: white;
}

input#slide1:checked~.slider .slider-navigation label[for="slide1"] span,
input#slide2:checked~.slider .slider-navigation label[for="slide2"] span,
input#slide3:checked~.slider .slider-navigation label[for="slide3"] span,
input#slide4:checked~.slider .slider-navigation label[for="slide4"] span {
    background-color: unset;
}

input#slide1:checked~.slider .slide {
    transform: translateX(0);
}

input#slide2:checked~.slider .slide {
    transform: translateX(-100%);
}

input#slide3:checked~.slider .slide {
    transform: translateX(-200%);
}

input#slide4:checked~.slider .slide {
    transform: translateX(-300%);
}